<h2>New</h2>
<div class="table">
   <div class="thead">
      <div class="tr">
         <div class="td">Datum Infektion</div>
         <div class="td">Datum Ende</div>
         <div class="td">Alter</div>
         <div class="td">Geschlecht</div>
         <div class="td">Vorerkrankungen</div>
         <div class="td">Bezirk</div>
         <div class="td">Bundesland</div>
         <div class="td"></div>
      </div>
   </div>
   <div class="tbody">
      <form class="tr" action="index.php" method="post">
         <div class="td"><input type="datetime-local" name="dateinfect"></div>
         <div class="td"><input type="datetime-local" name="dateend"></div>
         <div class="td"><input type="number" name="age"></div>
         <div class="td">
            <select name="gender" >
               <option value="m" >M</option>
               <option value="w">W</option>
               <option value="u" selected="selected">U</option>
            </select>
         </div>
         <div class="td"><input type="text" name="preill"></div>
         <div class="td"><input type="text" name="district"></div>
         <div class="td">
            <select name="state">
               <option value="oo"  >Oberösterreich</option>
               <option value="w" selected="selected" >Wien</option>
               <option value="no" >Niederösterreich</option>
               <option value="bg" >Burgenland</option>
               <option value="sty" >Steiermark</option>
               <option value="k" >Kärnten</option>
               <option value="t" >Tirol</option>
               <option value="s" >Salzburg</option>
               <option value="v" >Vorarlberg</option>
            </select>
         </div>
         <div class="td action"> <button type="submit" name="add_button" value="add">Add</button>
         </div>
      </form>
   </div>
</div>
<h2>Entries:</h2>
<div class="table">
   <div class="thead">
      <div class="tr">
         <div class="td">Datum Infektion</div>
         <div class="td">Datum Ende</div>
         <div class="td">Alter</div>
         <div class="td">Geschlecht</div>
         <div class="td">Vorerkrankungen</div>
         <div class="td">Bezirk</div>
         <div class="td">Bundesland</div>
         <div class="td"></div>
      </div>
   </div>
   <div class="tbody">
      {% for user in input %}
      <form class="tr" action="index.php" method="post">
         <input type="hidden" name="userID" value={{user.id}}>
         <div class="td"><input type="datetime-local" name="dateinfect"></div>
         <div class="td"><input type="datetime-local" name="dateend"></div>
         <div class="td"><input type="number" name="age" value="{{ user.age }}"></div>
         <div class="td">
            <select name="gender" >
            <option value="m" {% if user.gender == 'm' %} selected="selected" {% endif %}>M</option>
            <option value="w" {% if user.gender == 'w' %} selected="selected" {% endif %}>W</option>
            <option value="u" {% if user.gender == 'u' %} selected="selected" {% endif %}>U</option>
            </select>
         </div>
         <div class="td"><input type="text" name="preill" value="{{ user.preill }}"></div>
         <div class="td"><input type="text" name="district" value="{{ user.district }}"></div>
         <div class="td">
            <select name="state">
            <option value="oo" {% if user.state == 'oo' %} selected="selected" {% endif %} >Oberösterreich</option>
            <option value="w" {% if user.state == 'w' %} selected="selected" {% endif %}>Wien</option>
            <option value="no" {% if user.state == 'no' %} selected="selected" {% endif %}>Niederösterreich</option>
            <option value="bg" {% if user.state == 'bg' %} selected="selected" {% endif %}>Burgenland</option>
            <option value="sty" {% if user.state == 'sty' %} selected="selected" {% endif %}>Steiermark</option>
            <option value="k" {% if user.state == 'k' %} selected="selected" {% endif %}>Kärnten</option>
            <option value="t" {% if user.state == 't' %} selected="selected" {% endif %}>Tirol</option>
            <option value="s" {% if user.state == 's' %} selected="selected" {% endif %}>Salzburg</option>
            <option value="v" {% if user.state == 'v' %} selected="selected" {% endif %}>Vorarlberg</option>
            </select>
         </div>
         <div class="td action"> <button type="submit" name="update_button" value="update">Update</button>
            <button type="submit" name="delete_button" value="delete">Delete</button>
         </div>
      </form>
      {% endfor %}
   </div>
</div>